<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MVC LIBRARY</title>
    <link href="~/lib/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <partial name="_navPartial" />

    <div> @RenderBody() </div>

    
</body>
</html>