<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand disabled" >MyLibrary</a>
        
            
       
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Home" asp-action="About" aria-current="page">Hakkımızda</a>
                </li>
            </ul>
        </div>
    </div>
</nav>