@model AuthorCreateViewModel

<!-- Heading for the author creation form -->
<h3>Yeni Yazar Ekleme Sayfası</h3>

<!-- Form for creating a new author -->
<form method="post" asp-controller="Author" asp-action="AuthorCreate">
    <!-- First Name input group -->
    <div>
        <label>Yazar Adı</label>
        <input asp-for="firstName" class="form-control" type="text" /> <!-- Input field for the author's first name -->
        <span asp-validation-for="firstName" class="text-danger mt-3 fw-bold"></span> <!-- Displays validation errors for the first name -->
    </div>

    <!-- Last Name input group -->
    <div>
        <label>Yazar Soyadı</label>
        <input asp-for="lastName" class="form-control" type="text" /> <!-- Input field for the author's last name -->
        <span asp-validation-for="lastName" class="text-danger mt-3 fw-bold"></span> <!-- Displays validation errors for the last name -->
    </div>

    <!-- Date of Birth input group -->
    <div>
        <label>Doğum Tarihi</label>
        <input asp-for="dateOfBirth" class="form-control" type="date" /> <!-- Input field for the author's date of birth -->
        <span asp-validation-for="dateOfBirth" class="text-danger mt-3 fw-bold"></span> <!-- Displays validation errors for the date of birth -->
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-success">Kaydet</button>
</form>

<!-- Partial view for rendering the footer -->
<partial name="_footerPartial" /> 